<app-navbar-reg></app-navbar-reg>
<div class="sidebar">
<div class="row">
    <div class="col-3">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <br>
        <a class="nav-link"  >Settings</a>
        <a class="nav-link" routerLink="/ppal">Home</a>
        <a class="nav-link" routerLink="/userslist">Users</a>
        <a class="nav-link" routerLink="/categorieslist">Categories</a>
        <a class="nav-link" class="nav-link active"routerLink="/newslist">Reports</a>
        <hr style="color: white;">
        <a class="nav-link" routerLink="/pholist">Data Visuals Photos</a>
        <!-- <a class="nav-link" routerLink="/vidlist">Data Visuals Videos</a> -->
        <hr style="color: white;">
        <a class="nav-link" routerLink="/logout">Logout</a>
        <br>
      </div>
    </div>
    <div class="col-9">
      <div>
        <div role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <div class="row">
                        <h2>Modify News</h2>
                    </div>
                    <div class="row">
                        <div class="box">
                            <form (ngSubmit)="onSubmit()" [formGroup]="userForm" autocomplete="off">
                                <select formControlName="category" >
                                    <option value="" selected> Select category </option><br>
                                    <option *ngFor="let cat of categories" value="{{cat.id_categoria}}"> {{cat.nombre}} </option>
                                </select>

                                <div class="form-group">
                                    <label>Title:</label>
                                    <input type="textbox" name="Title" class="form-control" formControlName="Title">
                                    <!--Error-->
                                    <div *ngIf="userForm.get('Title')?.invalid && (userForm.get('Title')?.dirty || userForm.get('Title')?.touched)" class="alert alert-danger">
                                        <div>
                                            <strong>Title</strong> is required.
                                        </div>
                                    </div>
                                    <!--Fin Error-->
                                    <!-- Control de pattern -->
                                </div>
                                <div class="form-group">
                                    <label>Subtitle (Optional):</label>
                                    <textarea class="form-control" name="Subtitle" formControlName="Subtitle"></textarea>
                                    <!-- Error
                                    <div *ngIf="userForm.get('Subtitle')?.invalid && (userForm.get('Subtitle')?.dirty || userForm.get('Subtitle')?.touched)" class="alert alert-danger">
                                        <div>
                                            <strong>Subtitle </strong> is required.
                                        </div>
                                    </div>
                                    Fin Error -->
                                </div>
                                <div class="form-group">
                                        <label>Report</label>
                                        <textarea class="form-control" name="report" formControlName="report"></textarea>
                                    
                                    <!--Error-->
                                    <div *ngIf="userForm.get('report')?.invalid && (userForm.get('report')?.dirty || userForm.get('report')?.touched)" class="alert alert-danger">
                                        <div>
                                            <strong>Report </strong> is required.
                                        </div>
                                    </div>
                                    <!--Fin Error-->


                                    <label>
                                        <span>Report Photo </span>
                                        <div class="field">
                                            <div class="file has-name is-primary is-fullwidth">
                                                <div class="mb-3">
                                                     <input class="form-control" type="file" id="formFile" #fileInput (change)="onChange($event)" formControlName="fotonot" >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="containerperfil">
                                            <div class="field">
                                                <div class="column">
                                                    <img [src]="imageUrl" />
                                                </div>
                                            </div>
                                        </div>
                                    </label>


                                </div>
                            
                                <!-- <p>aca para subir archivo de foto 1 para portada</p>
                                <br>
                                <p>para subir foto 2 de noticia</p>
                                <br>
                                <p>aca para subir un video</p> -->
                            
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="portada">Appear in Home</label>
                                    <div class="col-md-9">
                                        <label class="radio-inline">
                                            <input type="radio" name="portada" value="0" id="0" formControlName="portada">
                                            No
                                        </label>
                                        &nbsp;&nbsp;&nbsp;
                                        <label class="radio-inline">
                                            <input type="radio" name="portada" value="1" id="1" checked="" formControlName="portada">
                                            Yes
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="hide">View</label>
                                    <div class="col-md-9">
                                        <label class="radio-inline">
                                            <input type="radio" name="hide" value="0" id="0" formControlName="hide">
                                            Only Registered
                                        </label>
                                        &nbsp;&nbsp;&nbsp;
                                        <label class="radio-inline">
                                            <input type="radio" name="hide" value="1" id="1" checked="" formControlName="hide">
                                            All.(public)
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn float-right btn-outline-success" style="margin-left: 5px;"[disabled]="userForm.invalid">Modify</button>
                                    <a routerLink="/newslist"><button class="btn float-right btn-outline-danger">Cancel</button></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <app-footer-main></app-footer-main>