<!--segunda caja-->
<div class="color"></div>
<div class="cuerpoUno">
    <div class="contenedor">
        <div class="imeg">
            <!-- slider -->
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                      <img src="../../../assets/HOME1.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/HOME2.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/HOME3.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
              </div>
              <!-- fin slider -->
            <!-- <img src="../../../assets/HOME 1.jpg" loading="lazy" alt=""> -->
        </div>
        <div class="tarjeta">
            <h2>Who we are </h2>
            <p class="textTarj">{{autor.textwwa}}
            </p>

            
        </div>
    </div>
    
</div>

