<app-navbar-reg></app-navbar-reg>
<br><br>
<button routerLink="/logout">Logout</button>

<br><br><br><br>
<app-footer-main></app-footer-main>


<ul  class="nav-tabs">
    <li>
      <a>Crear-Ciudad</a>
    </li>
    <li >
      <a>Editar-Ciudad</a>

    </li>
    <li >
      <a>Crear-Atraccion</a>

    </li>
    <li >
      <a>Editar-Atraccion</a>


    </li>
    <li >
      <a>Listado-Usuarios</a>
  

    </li>
    <li >
      <a>Listado-Baneados</a>
    </li>
    <li >
      <a>Ver-Mensajes</a>

    </li>
    <li >
      <a>Ver-Comentarios-Reportados</a>

    </li>
    <li >
      <a>Volver</a>
      <ng-template ngbNavContent>
  
        <a class="nav-link" routerLink="/" routerLinkActive="active"><button type="button" class="btn btn-primary">Volver a Inicio
        </button></a>
        <a class="nav-link" routerLink="/" routerLinkActive="active"><button type="button" class="btn btn-primary">Salir de la sesion y volver al menu
        </button></a>
      </ng-template>
    </li>
  </ul>
  
  <div ></div>