<footer>
    <div class="logoPie">
        <img src="../../../assets/logo b.png" alt="">
    </div>
    <div class="enlaces">
        <div class="iconosPie">
            <a href="https://twitter.com/DavidWakelyn?s=08" target="_blank"><img src="../../../assets/TWITTER.png" alt=""></a>
            <a href="https://www.linkedin.com/in/david-scarlett-wakelyn-9227275/" target="_blank"><img src="../../../assets/LINKEDIN.png" alt=""></a>
        </div>
        <div class="anclas1">
            <ul>
                <h3>INFORMATION</h3>
                <a routerLink="/policy" routerLinkActive="'active'">POLICY ANALYSIS</a>
                <a routerLink="/literacy" routerLinkActive="'active'">LITERACY</a>
                <a routerLink="/dvisuals" routerLinkActive="'active'">DATA VISUALS</a>
                <a routerLink="/download" routerLinkActive="'active'">DOWNLOAD</a> 
            </ul>
        </div>
        <div class="anclas2">
            <ul>
                <h3>ABOUT</h3>
                <a routerLink="/contact" routerLinkActive="'active'">FIND US</a>
                <a routerLink="/contact" routerLinkActive="'active'">CONTACT US</a>
 
            </ul>
        </div>
    </div>
</footer>