.cuerpoDos{
    display: flex;
    min-height: 50vh;
    margin-top: 1rem;
}
.bloq{
    width: 100%;
    display: block;
    height: 31rem;
    position: relative;
    background-image: url(../../../assets/Edificio.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 2rem;
}
.maginate{
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: #020568e0;
}
.cuerpoDos .mayor{
    width: 70%;
    text-align: justify;
}
.cuerpoDos .textPers{
    color: var(--blanco);
    width: 100%;
    padding: 2rem 1rem 2rem 6rem;
    box-sizing: border-box;
}
.cuerpoDos .textPers p{
    font-size: 1rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 13;
    
}
.cuerpoDos .blan{
    width: 100%;
    height: 2em;
    background: var(--blanco);
}
.cuerpoDos .foto{
    width: 30%;
    height: 18rem;
    display: flex;
    text-align: center;
    margin: 11vh auto 0px auto;
}
.blanco{
    width: 55%;
    height: 2rem;
    background: var(--blanco);
}
.foto img{
    width: 12rem;
    height: 13rem;
    margin: auto 0px auto 2rem;
    align-items: baseline;
}
.colores{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.8rem;
}
.colores .blanc1{
    width: 50%;
    background: var(--blanco);
    height: 100%;
}

@media(max-width: 700px){

    /* principal */
    body{
        font-size: 10px;
    }
    
    .cuerpoDos .bloq{
        height: 40rem;
        background: var(--azul);
    }
    .cuerpoDos .bloq .textPers{
        padding: 0px;
    }
    .cuerpoDos .maginate{
        display: block;
        padding-top: 20px;
    }
    .cuerpoDos .mayor{
        width: 90%;
        margin: 0px auto;
    }
    .cuerpoDos .colores{
        display: none;
    }
    .cuerpoDos .foto{
        width: 80%;
        margin: 10px auto;
    }
    .cuerpoDos .foto img{
        width: 100%;
    }
    .edific{
        display: none;
    }
    .sobre{
        position: relative;
    }
    .cuerpoDos{
        min-height: 30vh;
        width: 100%;
        margin-bottom: 1rem;
    }
    .cuerpoDos .foto img{
        border-radius: 10px;
        margin: 0px auto;
    }
    .cuerpoDos .blan,
    .colores{
        display: none;
    }
    .cuerpoTres{
        width: 100%;
        margin: 10px 0px;
    }
    .cuerpoTres .busqueda{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90%;
        margin: 5px auto;
    }
    .cuerpoTre .busqueda .distinte1{
        grid-column: 1 / 3;
    }
    .cuerpoTres .busqueda .distinte input{
        width: 100%;
    }
    .cuerpoTres .busqueda p{
        padding-right: 5px;
        padding-left: 5px;
    }
    .cuerpoTres input{
        width: 10em;
    }
    .cuerpoCuatro{
        grid-template-columns: 1fr;
    }
    .cuerpoCuatro .formulario{
        width: 90%;
        margin: .5rem auto;
    }
    .cuerpoCuatro .buscar{
        position: relative;
        width: 90%;
        margin: .5rem auto;
    }
    .cuerpoCuatro .buscar div{
        height: 80%;
    }
    footer{
        grid-template-columns: 1fr 2fr 2fr;
        background-image: url(../../../assets/LOGO.png);
        background-position: top;
        background-size: contain;
        background-repeat: no-repeat;
    }
    footer .anclas1 h3,
    footer .anclas2 h3{
        font-size: 1rem;
    }
    .logoPie{
        display: none;
    }
    .enlaces{
        margin-right: 5px;
        width: 100%;
    }
    .cuerpoCuatro{
        width: 100%;
        margin: 0px;
    }
    
    .cuerpoCuatro .buscar img{
        height: 100%;
        width: 100%;
    }
}