<!--tercera caja-->
<div class="cuerpoDos">
        <div class="bloq">
           <div class="maginate">
                <div class="mayor">
                    <div class="blan"></div>
                    <div class="textPers">
                        <h2>David Scarlett Wakelyn</h2>
                        <p>{{autor.textautor}}</p>
                    </div>
                </div>
                <div class="foto">
                    <img src="../../../assets/David.jpg" loading="lazy" alt="">
            
            
            
                    <!-- fondo 
                    <img src="../../../assets/Edificio.png" loading="lazy" alt=""> -->
                </div>
                <div class="colores">
                    <div class="blanc1"></div>
                    
                </div>
           </div>
        </div>
</div>


