  <div *ngIf="estado==false;">
    <app-navbar></app-navbar>
  </div>
  <div *ngIf="estado==true;">
    <app-navbar-reg></app-navbar-reg>
  </div>
<div class="container reporte1" style="align-items: center;">

<h1>{{this.reporte.titulo!}}</h1>
<hr>
<div class="img">
  <img src="{{this.reporte.foto_portada}}" alt="" width="100%">
</div>

<br><br>
<h3>{{this.reporte.subtitulo!}}</h3>
<hr>
<div>{{this.reporte.descripcion!}}</div>
<br><br>
<div class="img">
  <img src="{{this.reporte.foto_noticia}}" alt="" width="100%">
</div>


<br><br>
<button (click)="goback();" class="btn btn-outline-success">Back</button>
</div>



  <app-footer></app-footer>



