 <!-- segundo pie -->

 <footer class="footer">
    <div class="logoPie2">
        <img src="../../../assets/logo b.png" alt="">
    </div>
    <div class="enlaces2">
        <div class="iconosPie1">
            <a href="https://twitter.com/DavidWakelyn?s=08" target="_blank"><img src="../../../assets/twit.png" alt=""></a>
            <a href="https://www.linkedin.com/in/david-scarlett-wakelyn-9227275/" target="_blank"><img src="../../../assets/link.png" alt=""></a>
        </div>
        <div class="anclas1">
            <ul>
                <h5>ABOUT</h5>
                <a routerLink="/policy" routerLinkActive="'active'">POLICY ANALYSIS</a>
                <a routerLink="/literacy" routerLinkActive="'active'">LITERACY</a>
                <a routerLink="/dvisuals" routerLinkActive="'active'">DATA VISUALS</a>
                <a routerLink="/download" routerLinkActive="'active'">DOWNLOAD</a>   
            </ul>
        </div>
        <div class="anclas2">
            <ul>
                <h5>CONTACT</h5>
                <a routerLink="/contact" routerLinkActive="'active'">FIND US</a>
                <a routerLink="/contact" routerLinkActive="'active'">CONTACT US</a>
 
            </ul>
        </div>
    </div>
</footer>